/* Uniwersalny reset dla elementów, aby padding i border nie wpływały na całkowity rozmiar elementu */
* {
  box-sizing: border-box;
}

/* Ustawienie wysokości elementu html na 100% */
html {
  height: 100%;
}

/* Resetowanie marginesów zewnętrznych dla elementu body oraz ustawienie minimalnej wysokości na 100% */
body {
  margin: 0;
  min-height: 100%;
}

/* Resetowanie marginesów zewnętrznych dla wszystkich nagłówków i ustawienie wysokości linii na 'normal' */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}

/* Resetowanie marginesów zewnętrznych dla paragrafów */
p {
  margin: 0;
}

/* Usunięcie podkreślenia dla linków i dziedziczenie koloru od elementu rodzica */
a {
  text-decoration: none;
  color: inherit;
}

/* Resetowanie stylów list (zarówno kropkowanych, jak i numerowanych) oraz marginesów zewnętrznych i wewnętrznych */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Ustawienie maksymalnej szerokości obrazków na 100% szerokości elementu rodzica */
img {
  max-width: 100%;
  height: auto;
}

button,
input {
  color: inherit;
  font-family: inherit;
}
